/* The <body> element : */
body {
    /* Background image*/
    background-image: url("../assets/images/dark-woods/dark-wood4.jpg");
    /*color text of the body*/
    color: #000000;
    /*The font family (face) is at least 3 options of any sans-serif fonts*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*Margin 0 for all the four sides*/
    margin: 0;
}

/*Style the <div> element with class “container”*/
.container {
    /*The width value can be 950px*/
    width: 950px;
    /*5px margin from top and bottom*/
    margin-bottom: 5px;
    margin-top: 5px;
    /*aligned centered*/
    margin: auto;
    /*Apply any background colour*/
    background-color: #9d8189;
}

/*Style any element with class value of “content”*/
.content {
    /*The line height*/
    line-height: 1.4em;
    /*padding to all the sides*/
    padding: 10px;
}

/*Style the “header, nav, and footer” */
header,
nav,
footer {
    /*background colour*/
    background-color: #f08080;
    /*foreground colour (normal font colour)*/
    color: #f1dedc;
}

/*  <li> & <ul> which is inside <nav> element */
nav>ul {
    /*0 margin from all the sides*/
    margin: 0;
    /*5px padding from all the sides*/
    padding: 5px;
    list-style-type: none;
    /*To be displayed horizontally (Remember that <li> is a block-level element)*/
    display: flex;
    justify-content: space-around;
}
nav>ul>li {
    /*To be displayed horizontally*/
    margin-right: 40px;
    /*All the navigation items should be displayed as Uppercase*/
    text-transform: uppercase;

}


/*Add the 4 pseudo classes effect to the anchor tags/elements of the main navigation list items, the colour should be changed (Use any colours you like/prefer):
Any colour you like
No underline*/
a:link {
    color: #b0104d;
    text-decoration: none;
}

a:visited {
    color: #f4c3b8;
    text-decoration: none;
}

a:hover {
    color: #b0104d;
    text-decoration: none;
}

a:active {
    color: #582e3e;
    text-decoration: none;
}

/*Style the three headings: h1, h2, and h3:
    a. To have margin of 10px for all the sides
    b. With Uppercase letters
    c. Different dark/light colour */
h1,
h2,
h3 {
    margin: 10px;
    text-transform: uppercase;
    color: #872f2f;

}

/*Style the custom class named “img-centre”*/
.img-centre {
    /*Centre the image horizontally*/
    display: block;
    margin: 0 auto;

    /*Having margin of 5px from the top and bottom
    Having padding of 2px to all the sides*/
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
}

/*Style the <audio> and <video> elements:
    a. Centre any audio or video element (horizontally)
    [Don’t forget that video/audio are both inline elements]

    b. With margin of 10px from the top and bottom*/
video {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Style any <table> element:*/
table {
    /*The width is 800px*/
    width: 800px;
    /*Centre the table horizontally with 10px of margining from the top and bottom sides*/
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    /*The table border has to be collapsed*/
    border-collapse: collapse;

}

/* Style both the <td> and <th> element of any table:*/
td,
th {
    /*Having a border with any settings you like*/
    border: 2px solid #a4133c;
    /*Padding of 2px from the top/bottom and 5px from the left/right*/
    padding: 2px 5px;
    /*Any background colour */
    background-color: #800f2f;
    color: #f1dedc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Style both the <th> inside any table and the <td> inside the <tfoot>*/
table th,
tfoot td {
    /*With Uppercase letters*/
    text-transform: uppercase;
    /*Any colour*/
    color: #f4c3b8;    
    /*Any background colour */
    background-color: #590d22;
}

/*Style any <dt> element: 
Make it bold*/
dt {
    font-weight: bold;
}

/*Style any <footer> element:
a. Change the font size to be 80% of the default font size or of the font size of the body
b. Align your text to the centre of the table
c. Add 1px of padding from the top/bottom and 0 from the right/left*/
footer {
    font-size: 80%;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    padding-right: 0;
}

/*Style any <iframe> element:
a. Add margin of 10px for top/bottom
b. Centre the iframe horizontally (Hint: don’t forget that <iframe> is an inline element so you will
need to make it block level element first)
*/
iframe {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin: auto;
}

/*Style any <fieldset> element:
a. Add width of 500px
b. Add margin of 20px for top/bottom and centre the fieldset horizontally
c. Add border with any style you prefer
d. Add background colour*/
fieldset {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    border: dotted 5px;
    background-color: #800f2f;
    color: #f4c3b8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Style any <legend> element:
a. Italic font style
b. Different front and background colour
c. Margin of 0 from the top/bottom and 10px from the left/right
d. Padding of 0 from top/bottom and 5px from the left/right
e. Give it a rounded border with any size or setting you prefer
*/
legend {
    font-style: italic;
    color: #590d22;
    background-color: #f4c3b8;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px
}

/*Style the <input> element that has an attribute named “type” with value of “submit”:
input[type="Submit"] {
    /* a. Border with any style you like*/
    border: solid 5px #700c32;
    /* b. Padding of 5px for all the sides*/
    Padding: 5px;
    /* c. Any background colour you prefer*/
    background-color: #f08080;

}

/*Style the same <input> element that has an attribute named “type” with value of “submit” but with the pseudo class for the hover state*/
input[type="submit"]:hover {
    color: #FFF;
    background-color: #333;
    cursor: pointer;
}
